{
    "parser": "@typescript-eslint/parser",
    "extends": [
      "eslint:recommended",
      "plugin:@typescript-eslint/recommended",
      "plugin:react/recommended",
      "plugin:import/recommended",
      "plugin:import/typescript",
      "prettier" // Add this line if you're using Prettier
    ],
    "parserOptions": {
      "ecmaVersion": 2020,
      "sourceType": "module",
      "ecmaFeatures": {
        "jsx": true
      }
    },
    "rules": {
      // Simplified rules for imports
      "import/extensions": [
        "error",
        "ignorePackages",
        {
          "js": "never",
          "jsx": "never",
          "ts": "never",
          "tsx": "never"
        }
      ],
      "import/prefer-default-export": "off",
      // Simplified import order to maintain readability and consistency
      "import/order": [
        "error",
        {
          "groups": ["builtin", "external", "internal"],
          "newlines-between": "always-and-inside-groups",
          "alphabetize": {
            "order": "asc",
            "caseInsensitive": true
          }
        }
      ]
    },
    "settings": {
      "react": {
        "version": "detect"
      }
    }
  }